<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>38回古战场预选团名次查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div style="display: none">
    <script src="https://s19.cnzz.com/z_stat.php?id=1273783067&web_id=1273783067" language="JavaScript"></script>
</div>
<p>38回古战场预选团名次查询</p>
<form action="/teamraid038/crew" method="GET">
    <label for="name">Crew Name</label><input type="text" id="name" name="name"/>
    <input type="submit">
</form>
</body>
</html>