{% extends 'layout.html' %}

{% block title %}古战场个排{% endblock %}
{% block content %}
    {% if query %}

        <div class="card-body">
            <div class="chart_container">
                <canvas id="latestChart" width="1920" height="1080"></canvas>
            </div>
        </div>
        <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
        <script>
          function makeRequest (method, url) {
            return new Promise(function (resolve, reject) {
              const xhr = new XMLHttpRequest()
              xhr.open(method, url)
              xhr.responseType = 'json'
              xhr.setRequestHeader('Accept', 'application/json')
              xhr.onload = function () {
                if (this.readyState === 4 && this.status === 200) {
                  resolve(xhr.response)
                }
                else {
                  reject({
                    status: this.status,
                    statusText: xhr.statusText
                  })
                }
              }
              xhr.onerror = function () {
                reject({
                  status: this.status,
                  statusText: xhr.statusText
                })
              }
              xhr.send()
            })
          }

          function getLatestData () {
            makeRequest('GET', "{{ url('teamraid_individual', teamraid=teamraid, query_=query)|safe }}")
              .then(function (value) {
                  let data = value.data
                  let keys = Object.keys(data)
                  keys.forEach((item, index) => {
                    keys[index] = parseInt(item, 10)
                  })
                  keys.sort()
                  const timeLabels = keys.map(item => new Date(item * 1000))
                  const yData = keys.map(item => data[item].point)

                  let ctx = document.getElementById('latestChart').getContext('2d')
                  window.myLine = new Chart(
                    ctx,
                    {
                      type: 'line',
                      data: {
                        labels: timeLabels,
                        datasets: [
                          {
                            label: '{{ user_id }}',
                            data: yData
                          }
                        ]
                      },
                      options: {
                        responsive: true,
                        title: {
                          display: true,
                          fontSize: 42,
                          fontColor: 'black',
                          fontFamily: 'sans-serif'
                        },
                        scales: {
                          xAxes: [{
                            type: 'time',
                            time: {
                              displayFormats: {
                                'millisecond': 'DD HH:mm',
                                'second': 'DD HH:mm',
                                'minute': 'DD HH:mm',
                                'hour': 'DD HH:mm',
                                'day': 'DD HH:mm',
                                'week': 'DD',
                                'month': 'DD',
                                'quarter': 'DD',
                                'year': 'DD',
                              }
                            }
                          }],
                          yAxes: [{
                            // 刻度是否显示标签, 即Y轴上是否显示文字
                            scaleLabel: {
                              display: true,
                              labelString: 'Point',
                              fontColor: 'black',
                              fontFamily: 'Arial',
                            },
                            ticks: {
                              callback (label, index, labels) {
                                const sig = Math.sign(label)
                                if (!sig)
                                  return '0'
                                const value = Math.abs(label)
                                const p = Math.floor(Math.log(value) / Math.LN10)
                                const n = value * Math.pow(10, -p)
                                return (sig === -1 ? '-' : '') + n.toString().substr(0, 3) + 'e' + p.toString(10)
                              }
                            }
                          }]
                        },
                        tooltips: {
                          callbacks: {
                            label: function (tooltipItem, data) {
                              return Number(tooltipItem.yLabel).toFixed(0).replace(/./g, function (c, i, a) {
                                return i > 0 && c !== '.' && (a.length - i) % 4 === 0 ? ',' + c : c
                              })
                            }
                          }
                        }
                      }
                    }
                  )
                },
                function (err) {
                  console.error(err.statusText)
                  alert('没有数据')
                })
          }

          window.onload = function () {
            getLatestData()
          }
        </script>
    {% else %}
        <div class="mdl-grid">

            <form class=" mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet" action="/render/{{ teamraid }}/individual" method="GET">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="text" class="mdl-textfield__input" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           id="user_id" name="user_id"/>
                    <label class="mdl-textfield__label" for="user_id">User ID</label>
                </div>
                <div class="input-group-append">
                    <input type="submit" class="mdl-button mdl-button--raised" value="根据id搜索个排情况">
                </div>
            </form>
            <form class=" mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet" action="/render/{{ teamraid }}/individual" method="GET">
                <div>1000 30000 50000 70000 120000</div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="text" class="mdl-textfield__input" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           id="rank" name="rank"/>
                    <label class="mdl-textfield__label" for="rank">Rank</label>
                </div>
                <div class="input-group-append">
                    <input type="submit" class="mdl-button mdl-button--raised" value="搜索rank档分数线">
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
