{% extends 'layout.html' %}
{% block title %}古战场数据{% endblock %}
{% block content %}
    <div class="col-sm text-center">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="/render/teamraid039/crew">39回古战场预选(预选结束后更新)</a>
            <a class="list-group-item list-group-item-action" href="/render/teamraid038/crew">38回古战场预选</a>
            <a class="list-group-item list-group-item-action" href="/render/bookmaker/today">
                <del>今日运势</del>
                马票曲线 </a>
        </div>
    </div>
{% endblock %}
