{% extends 'layout.html' %}
{% block title %}古战场数据{% endblock %}
{% block content %}

    <div class="mdl-grid">
        <div class="mdl-list mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
            <a class="mdl-list__item mdl-button" href="/render/teamraid039/crew">39回古战场预选(预选结束后更新)</a>
            <a class="mdl-list__item mdl-button" href="/render/teamraid039/individual">39回古战场个排</a>
            <a class="mdl-list__item mdl-button" href="/render/teamraid038/crew">38回古战场预选</a>
            <a class="mdl-list__item mdl-button" href="/render/teamraid038/individual">38回古战场个排</a>
            <a class="mdl-list__item mdl-button" href="/render/bookmaker/today">
                <del>今日运势</del>&nbsp;马票曲线 </a>
        </div>
    </div>
{% endblock %}
