{% extends 'layout.html' %}
{% block title %}古战场数据{% endblock %}
{% block content %}
    <div class="mdl-grid">
        {% if error %}
            {{ error }}
        {% else %}
            啥也没找到
        {% endif %}
    </div>
    <div class="mdl-grid">
        <button class="mdl-button mdl-button--raised" onclick="goBack()">返回</button>
        {#        <a class="mdl-button mdl-button--raised" href="/">首页</a>#}
    </div>

    <script>
      function goBack () {
        window.history.back()
      }
    </script>
{% endblock %}
